.teaching-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;    
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(9px);
}

.teaching-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    padding: 2em;
    padding-top: 1em;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    font-size: 1.25em;
    width: 50%;
}

.teaching-close {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: auto;
    border-radius: 0.5em;
}